@page
@model EfCore_UseCase.Pages.ProductCategory.CreateModel
@{
}

<form action="" method="post">
     <div class="row">
          <div class="col-md-6 mb-3">
               <label for="name" class="form-label">نام گروه</label>
               <input class="form-control" name="name" id="name" type="text">
          </div>
          <div class="col-md-12">
               <button type="submit" class="btn btn-success">ایجاد</button>
          </div>
     </div>
</form>