@page
@model EfCore_UseCase.Pages.ProductCategory.Edit
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
}

<form action="" method="post">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="@Model.Command.Name" class="form-label">نام گروه</label>
            <input class="form-control" asp-for="@Model.Command.Name" type="text">

            <input type="hidden" asp-for="@Model.Command.Id" value="@Model.Command.Id">
        </div>
        <div class="col-md-12">
            <button type="submit" class="btn btn-success">ویرایش</button>
        </div>
    </div>
</form>